<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-6">
            <div id="messages">
                {{#if mensajes.length}}
                    {{#each mensajes}}
                    <div>
                        <strong>{{this.user}}</strong>:{{this.message}}
                    </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>

        <div class="col col-lg-6">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="msg" placeholder="Ingrese su mensaje aquí" />
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>