<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-6">
            <div id="messages">
                <p>Estoy en chat</p>
            </div>
        </div>
    
    <div class="col col-lg-6">
    <form action="#">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" id="msg" placeholder="Ingrese su mensaje aquí" />
        </div>
    </form>
    </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>